---
layout: layout.liquid
title: 11ty Boilerplate
---

<button id="click">Click for Different Names</button>


<div x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/1', jsonItem='thumbnail')}"> 
    <img alt="thumbnail" x-bind:src='thumbImage'/>
</div>

<div x-data="{thumbText: $fetchjson('https://dummyjson.com/products/1', jsonItem2='description')}"> 
    <h1 x-text='thumbText'> </h1>
</div>